/*=============================
  Mobile First Defaults
===============================*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: white;
  display: grid;
  min-height: 100vh;
  min-width: 100%;
  background: linear-gradient(#445895, #6a7ebb);
  background-image: -webkit-linear-gradient(top, #445895, #6a7ebb); 
  background-image:    -moz-linear-gradient(top, #445895, #6a7ebb); 
  background-image:     -ms-linear-gradient(top, #445895, #6a7ebb); 
  background-image:      -o-linear-gradient(top, #445895, #6a7ebb); 
  background-image:         linear-gradient(top, #445895, #6a7ebb);
  text-transform: uppercase;
  grid-template-rows: 70px min-content min-content min-content;
  grid-template-columns: 1fr;
  grid-gap: 45px;
  grid-template-areas: "header"
                        "form"
                        "todo"
                        "done";
}

h1 { 
  font-size: 2em;
}

p {
  font-size: .9em;
  margin-bottom: 1em;
}

.far{
  margin-right: 10px;
  display: none;
}

hr {
  margin-top: 1em;
  border-color: #6a7ebb;
}

header {
  grid-area: header;
  align-self: end;
  padding-left: 50px;
}

ul{ 
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 35px;
}

ul li, input{
  padding: 15px 20px;
  border-radius: 8px;
  width: 90%;
  font-size: 1.2em;
  margin: auto;
}

input{
  text-transform: uppercase;
}

::placeholder{
  color: #7f88a3;
  font-size: .9em;
}

.todo ul li{
  color: #171A21;
  background: white;
  font-weight: bold;
}

.done ul li{
  color: #e1e5f1;
  background: #6a7ebb;
  
}

.done-task {
  text-decoration: line-through;
}

.todo {
  grid-area: todo;
}

.done {
  grid-area: done;
}

form{
  grid-area: form;
  text-align: center;
}
/*=============================
        DESKTOP
===============================*/

@media only screen and (min-width:768px) {
  body{
    grid-template-columns: 1fr 700px 1fr;
    grid-template-areas: " header header header"
                         "  .      form     .  "
                         "  .      todo     .  "
                         "  .      done     .  ";
    font-size: 16px;
  }

  ul li, input{
    padding: 10px 20px;
  }

  .far{
    display: inline-block;
  }
}